body {
    text-align: center;
}

.color-generator {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    border: 2px solid black;
}

.options {
    width: 500px;
    margin: 350px auto;
    padding: 30px 10px;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    background-color: pink;
}

button {
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 14px;
}

@media(max-width: 560px) {
    .options {
        width: 450px;
        padding: 25px 10px;
    }
    .options h1 {
        font-size: 26px;
        font-weight: 600;
    }
}

@media(max-width: 510px) {
    .options {
        width: 375px;
        padding: 20px 10px;
    }
    .options h1 {
        font-size: 22px;
        font-weight: 600;
    }
    button {
        width: 150px;
        height: 35px;
        font-size: 16px;
    }
}

@media(max-width: 440px) {
    .options {
        width: 300px;
        padding: 15px 8px;
    }
    .options h1 {
        font-size: 20px;
        font-weight: 600;
    }
    button {
        width: 120px;
        height: 30px;
        font-size: 12px;
        font-weight: 400;
    }
}